https://fonts.google.com/specimen/Share+Tech
https://fonts.google.com/specimen/VT323
https://fonts.google.com/specimen/Ubuntu

<h2>Thesis</h2>
<p>
Although there are many observables correlated with hard disk failure, all predictive models of when a given hardrive will fail are not precise. 
</p>

<h2>Motivation</h2>
<p>
Component failure in large-scale IT installations is becoming an ever larger problem as the number of components in a single cluster approaches millions. Avoiding downtime and the cost of actual downtime make up more than 40% of the total cost of ownership for modern IT systems
</p>

<h2>Background</h2>
<p>
Large-scale installation field usage appears to differ widely from nominal datasheet Mean Time to Failure (MTTF) conditions. The field replacement rates of systems were significantly larger than we expected based on datasheet MTTFs. 



    Predictable failures, result from slow processes such as mechanical wear and gradual degradation of storage surfaces. Monitoring can determine when such failures are becoming more likely.

    Unpredictable failures, happening without warning and ranging from electronic components becoming defective to a sudden mechanical failure.

The majority of failutes 



A significant body of work on analyzing hardware failures in server machines exists, but there is a dearth of information on consumer machines, even though they constitute the vast majority of machines sold and used each year. 


 (Schroeder & Gibson, Fast 07), (Schroeder & Gibson, Proceedings of the International Conference on Dependable Systems and Networks (DSN2006), Philadelphia, PA, USA, June 25-28, 2006)


 https://research.google.com/pubs/pub32774.html
</p>

<h2>The Data</h2>
<p>
The data is X GB of daily hard drive stats from 2014 to the end of the 4th quarter in 2016. One of the key aspects of the data is that it contains the SMART (Self-Monitoring, Analysis and Reporting Technology) data for each drive on each day. 
</p>

<h2>BackBlaze</h2>
<p>
Is a low cost cloud backup storage service. They offer personal online backup storage as well as enterprise scale data storage solutions - all at prices generally lower than other services such as AWS or Dropbox. They manage to do this by offering a primarily backup service, that is, they enfore various soft and hard access quotas (though they do have more dynamic storage options). As primarily a backup service, their datacenter contains a complete copy of all customers’ data, plus multiple versions of files that change. They keep upfront costs low by using consumer-grade drives and other commodity components. They aren't shy about telling us (exaclty wow to build cheap cloud storage)[https://www.backblaze.com/blog/petabytes-on-a-budget-how-to-build-cheap-cloud-storage/] or sharing their data. And
</p>


<h2>A Note about Manufacturers</h2>
<p>
The primary manufactures are Seagate and Western Digital. Western Digital owns HGST and HGST is Hitachi. HGST was formerly Hitachi. HGST was formed in 2003 from branches of IBM and Hitachi. In 2012 HGST was bought by Western Digital, from this time on Western Digital has maintained seperate market brands for their hard disks in some markets while consolidating in other markets.
</p>