<!doctype html>
<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Share+Tech" rel="stylesheet">

<html lang="en">
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
	<title>Hard Drive Analysis </title>

    <!--<link rel="stylesheet" type="text/css" href="style.css") }}">-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.velocity.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.touchSwipe.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bgcarousel.js') }}" type="text/javascript">
        /***********************************************
    * Background Image Carousel- (c) Dynamic Drive (www.dynamicdrive.com)
    ***********************************************/
    </script> 

    
	<!--<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-x.y.z.min.css">
    <link rel="stylesheet" href=" http://cdn.pydata.org/bokeh/release/bokeh-widgets-x.y.z.min.css">
	<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-x.y.z.min.js"></script>
    <script src=http://cdn.pydata.org/bokeh/release/bokeh-x.y.z.min.js"></script>-->
<!--    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.css" type="text/css" />
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.js"></script>-->

    <script type="text/javascript">
    var zcarousel=new bgCarousel({
      wrapperid: 'zcarousel_div', //ID of blank DIV on page to house carousel
      imagearray: [
    ["{{ url_for('static', filename='images/hd-crash-big.jpg') }}", '<h2>a2</h2>Aftermath of a crashed drive. Partially disassembled. By flicker user wonderferret.'],
      ["{{ url_for('static', filename='images/hd-storage-very-big.jpg') }}", '<h2>a3</h2>How stuff really works. Photographs stored on a hard drive. RAID 1 - A mirrored array. By Mark Freeth or flicker user freetheimage'],
     ["{{ url_for('static', filename='images/hd-internal-big.jpg') }}", '<h2>a3</h2>The internals of a hard drive by flickr user dijutaltim.']
      ],
      displaymode: {type:'auto', pause:3000, cycles:2, stoponclick:false, pauseonmouseover:true},
      navbuttons: ["{{ url_for('static', filename='images/l-arrow.png') }}", "{{ url_for('static', filename='images/r-arrow.png') }}"],
      activeslideclass: 'selectedslide', // CSS class that gets added to currently shown DIV slide
      orientation: 'h', //Valid values: "h" or "v"
      persist: true, //remember last viewed slide and recall within same session?
      slideduration: 1000 //transition duration (milliseconds)
    })
    </script>

    {{ js_resources|safe }}

    {{ css_resources|safe }}

    {% if pie_plot_script %}
    {{ pie_plot_script|safe }}
    {% endif %}

    {% if surv_plot_script %}
    {{ surv_plot_script|safe }}
    {% endif %}

    {% if slider_plot_script %}
    {{ slider_plot_script|safe }}
    {% endif %}

    {% if plot_script %}
    {{ plot_script|safe }}
    {% endif %}

    {{ bokeh_css }}
    {{ bokeh_js }}

</style>



</head>

<body>
<div class="nav" align="center">
<a href="http://hard-drives.herokuapp.com/">The Analysis</a> |
 
<a href="{{ url_for('static', filename='about.html') }}">About</a> | 

<a href="{{ url_for('static', filename='data_table.html') }}">The Data</a>
</div>

<div align="center">
<div class="container">


<h1>HARD DISK FAILURE ANALYSIS</h1>
    <h2>by Alexander Bastidas Fry</h2>


<!--<h3> h3 by Alexander Bastidas Fry</h3>
<h3>ARD DISK FAILURE ANALYSIS</h3>
https://stock-demo-abf.herokuapp.com/
https://arcane-fortress-84192.herokuapp.com/main
http://bokeh.pydata.org/en/latest/docs/gallery/slider.html
https://www.usenix.org/legacy/event/fast07/tech/schroeder/schroeder_html/
http://bioinformare.blogspot.com.au/2016/02/survival-analysis-of-hard-disk-drive.html
-->

<div id="zcarousel_div" class="bgcarousel"></div> 

<br/>
<hr/>

<h2> Drive Distribution by Year </h2>



    <div class="full-width-plot">
    {% if pie_plot_div %}
        {{ pie_plot_div|safe }}
    {% endif %}
    </div> 


<br/>
<hr/>


<h2> Survival Analysis </h2>


    <div class="full-width-plot">
    {% if surv_plot_div %}
        {{ surv_plot_div|safe }}
    {% endif %}
    </div> 


<br/>
<hr/>


<h2> Feature Extraction </h2>


<div class="child-div">
<img src="{{ url_for('static', filename='images/mST4000DM000_data-S3001HBH.png') }}">
</div> 

<br/>



<div class="full-width-plot" style="padding-top:350px;">
<br/>
<hr/>
<h2> Temporary Plot </h2>
    <div class="full-width-plot">
    {% if slider_plot_div %}
        {{ slider_plot_div|safe }}
    {% endif %}
</div>



<br/>
<hr/>

</div>
<a href="https://github.com/bastidas">See the code repository on Github</a>
</div> 

</body>
</html>
