<!doctype html>
<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Share+Tech" rel="stylesheet">

<html lang="en">
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
	<title>Hard Drive Analysis </title>


    <!--<link rel="stylesheet" type="text/css" href="style.css") }}">-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->


    <!--Background Image Carousel-->
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.velocity.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.touchSwipe.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bgcarousel.js') }}" type="text/javascript">
        /***********************************************
    * Background Image Carousel- (c) Dynamic Drive (www.dynamicdrive.com)
    * Please keep this notice intact
    * Visit http://www.dynamicdrive.com/ for this script and 100s more.
    ***********************************************/
    </script> 


    <!--
    <script src="js/jquery.velocity.min.js"></script>
    <script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
    <script src="js/bgcarousel.js" type="text/javascript">
    
    /***********************************************
    * Background Image Carousel- (c) Dynamic Drive (www.dynamicdrive.com)
    * Please keep this notice intact
    * Visit http://www.dynamicdrive.com/ for this script and 100s more.
    ***********************************************/
    </script> 
    -->

    
	<!--<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-x.y.z.min.css">
    <link rel="stylesheet" href=" http://cdn.pydata.org/bokeh/release/bokeh-widgets-x.y.z.min.css">
	<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-x.y.z.min.js"></script>
    <script src=http://cdn.pydata.org/bokeh/release/bokeh-x.y.z.min.js"></script>-->
<!--    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.css" type="text/css" />
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.js"></script>-->

    <script type="text/javascript">
    var zcarousel=new bgCarousel({
      wrapperid: 'zcarousel_div', //ID of blank DIV on page to house carousel
      imagearray: [
    ["{{ url_for('static', filename='images/hd-crash-big.jpg') }}", '<h2>a2</h2>Aftermath of a crashed drive. Partially disassembled. By flicker user wonderferret.'],
      ["{{ url_for('static', filename='images/hd-storage-very-big.jpg') }}", '<h2>a3</h2>How stuff really works. Photographs stored on a hard drive. RAID 1 - A mirrored array. By Mark Freeth or flicker user freetheimage'],
     ["{{ url_for('static', filename='images/hd-internal-big.jpg') }}", '<h2>a3</h2>The internals of a hard drive by flickr user dijutaltim.']
      ],
      displaymode: {type:'auto', pause:3000, cycles:2, stoponclick:false, pauseonmouseover:true},
      navbuttons: ["{{ url_for('static', filename='images/l-arrow.png') }}", "{{ url_for('static', filename='images/r-arrow.png') }}"],
      activeslideclass: 'selectedslide', // CSS class that gets added to currently shown DIV slide
      orientation: 'h', //Valid values: "h" or "v"
      persist: true, //remember last viewed slide and recall within same session?
      slideduration: 1000 //transition duration (milliseconds)
    })
    </script>
    





    {{ js_resources|safe }}

    {{ css_resources|safe }}

    {% if line_plot_script %}
    {{ line_plot_script|safe }}
    {% endif %}


    {% if slider_plot_script %}
    {{ slider_plot_script|safe }}
    {% endif %}



    {% if plot_script %}
    {{ plot_script|safe }}
    {% endif %}
</head>

<body>
<div class="nav" align="center">
<a href="http://hard-drives.herokuapp.com/">The Analysis</a> |
 
<a href="{{ url_for('static', filename='about.html') }}">About</a> | 

<a href="{{ url_for('static', filename='data_table.html') }}">The Data</a>
</div>

<div align="center">
<div class="container">


<h1>HARD DISK FAILURE ANALYSIS</h1>
    <h2>by Alexander Bastidas Fry</h2>


<!--<h3> h3 by Alexander Bastidas Fry</h3>
<h3>ARD DISK FAILURE ANALYSIS</h3>
https://stock-demo-abf.herokuapp.com/
https://arcane-fortress-84192.herokuapp.com/main
http://bokeh.pydata.org/en/latest/docs/gallery/slider.html
https://www.usenix.org/legacy/event/fast07/tech/schroeder/schroeder_html/
http://bioinformare.blogspot.com.au/2016/02/survival-analysis-of-hard-disk-drive.html
-->
<div id="zcarousel_div" class="bgcarousel"></div> 



<br/>
<hr/>

<h2> Drive Distribution by Year </h2>



    <div class="input-group">
    {% if line_plot_div %}
        {{ line_plot_div|safe }}
    {% endif %}
    </div> 


<br/>
<hr/>

<h2> Temporary Plot 2 </h2>
    <div class="input-group">
    {% if slider_plot_div %}
        {{ slider_plot_div|safe }}
    {% endif %}
    </div> 


<br/>
<hr/>

<h2> Temporary Plot 3 </h2>

<div class="row" style="margin-top:3%;">
    <div class="input-group col-md-7">
        <form method="POST" action="/">

        <div class="input-group add-on">
            <input name="symbol" type="text" placeholder="{{ place_holder }}" class="form-control" />
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>

        <br/>
        <fieldset>
        <legend></legend>
        <input type="checkbox" name="open" id="open" value="1" {{ "checked" if open|safe == "1" }}/>
        <label for="open">Opening price</label><br />
        <input type="checkbox" name="close" id="close" value="1"  {{ "checked" if close|safe == "1" }}/>
        <label for="close">Closing price</label><br />
        <input type="checkbox" name="adj_open" id="adjusted open" value="1" {{ "checked" if adj_open|safe == "1" }}/>
        <label for="adjusted open">Adjusted opening</label><br />
        <input type="checkbox" name="adj_close" id="adjusted close" value="1" {{ "checked" if adj_close|safe == "1" }}/>
        <label for="adjusted close">Adjusted closing price</label><br />
        </fieldset>
        
        <fieldset>
            Time Range:
        <select name="Measure">
            <option {{ "selected" if measure|safe == "1month" }} value="1month">1 month</option>
            <option {{ "selected" if measure|safe == "6months" }} value="6months">6 months</option>
            <option {{ "selected" if measure|safe == "1year" }} value="1year">1 year</option>
            <option {{ "selected" if measure|safe == "5years" }} value="5years">5 years</option>
            <option {{ "selected" if measure|safe == "max" }} value="max">max</option>
        </select>
        </fieldset>

        </form>
     </div>
</div> 

<div class="row" style="margin-top:3%;">
    <div class="input-group">
    {% if plot_div %}
        {{ plot_div|safe }}
    {% endif %}
    </div> 
</div> 


</div>
</div>
</body>
</html>
