body {
	font-family: arial, sans-serif;
	font-size: 130%;
	font-style: normal;
	font-variant: normal;
	padding-top: 0px;
	padding-bottom: 0px;
	color:#000000;
	background-color: #ffffff !important;
}

.old_container {
  background: #FFFFFF!important;
  /*color: #E2E2E2;  */
  border: 2px none #000000;
  width:960px;   /* 840 */
  padding-left:15px;
  padding-right:15px;
  margin-top:0px;
  padding-top:35px;
}

.container {
  background: #FFFFFF !important;
  /*color: #E2E2E2;  */
  border: 2px none #000000;
  max-width: 1366px;
  min-width: 600px; 
  width: 90%;
  padding-left:15px;
  padding-right:15px;
  margin-top:0px;
  padding-top:20px;
}


.child-div {
    position:absolute;
    left:0;
    right:0;
    width:100%;
    height:450px;
    padding-bottom:450px;
}



.nav{
  top:0%;
  right:0%;
  background: #FFFFFF !important;
  color: #000000;  
  border: 2px none #FFFFFF;
  width:480px;   /* 840 width:40%; 840 */
  font-size:1.0em !important;
  position: fixed;
  margin-top:0px;
  padding-top:2px;
  padding-left:10px;
  padding-bottom:2px;
  text-align:center;
    font-family: 'VT323', monospace;
  color: #000000;   
  font-size: 1.7em;  
  line-height: 1.2em;  
  letter-spacing: 3px;  
  font-weight: normal;
  /* shadow */
  text-align: left;
    line-height: 120%;
    text-shadow: 3px 3px 7px #919191;
  z-index : 6666;
}

.nav a{
color: #000000;
}

.left-full-width-plot {
  /*background: #000000 !important;*/
  /*color: #E2E2E2;  */
  border: 5px none #000000 !important;
  width:90%;   /* 840 */
  margin-left:-40%;
  padding-right:0px;
  margin-top:0px;
  padding-top:0px;
}


.full-width-plot {
  /*background: #000000 !important;*/
  /*color: #E2E2E2;  */
  border: 1px none #000000 !important;
  /*width:955px;   /* 840 */
  padding-left:0px;
  padding-right:0px;
  margin-top:0px;
  padding-top:0px;
}

a {
	border: none;
	color: #0051BB; 
  text-decoration: none;
}

a:hover {
  color: #4F4FAF; 
	text-decoration: none;
}


cite {
	font-style: normal;
}

cite a {
	color: #778899; /* #0051BB; */
	font-style: normal;
}

code {
	font-family: "Courier New";
	background: #778899; /* #778899   ; */
	/* border: 1px solid #dfdfdf; */
	display: block;
	word-spacing: -0.05em;
	font-size: 0.9em;
	line-height: 1.0em;
	padding: 5px;
}


p {
	line-height: 30px;
	margin: 0.2em auto;
	text-align: left;
}

hr { 
	width:100%; 
	height:1px;
	background: #fff }

fieldset {
	border: none;
	}


h1 {  
  font-family: 'VT323', sans-serif;
  color: #262626;  
  font-size: 3.0em !important;
  letter-spacing: 4px;  
  line-height: 1.2em;  
  font-weight: normal;  
  /* shadow */
  text-align: left;
  font-size: 50px;
  line-height: 70%;
  text-shadow: 3px 3px 7px #919191;
 } 

h2 {
	font-family: 'VT323', sans-serif;
	color: #262626;   
	font-size: 1.8em;  
	line-height: 1.2em;  
	letter-spacing: 3px;  
	font-weight: normal;
	/* shadow */
	text-align: left;
  	line-height: 100%;
  	text-shadow: 3px 3px 7px #919191;
 }

h3 {
	font-family: 'VT323', monospace;
	color: #262626;   
	font-size: 1.8em;  
	line-height: 1.2em;  
	letter-spacing: 3px;  
	font-weight: normal;
	/* shadow */
	text-align: left;
  	line-height: 140%;
  	text-shadow: 3px 3px 7px #919191;
 }


#zcarousel_div{ /* CSS for specific carousel container called #zcarousel_div. */
width:100%;
height:300px;
}

/* ######### Shared CSS for various parts of carousel (in the event of multiple carousels) ######### */
div.bgcarousel{ /* shared CSS for main carousel container */
background: black url("images/loading.gif") center center no-repeat; /* loading gif while caoursel is loading */
}

div.bgcarousel img.navbutton{ /* CSS for the nav buttons */
}

div.bgcarousel div.slide{ /* CSS for each image's DIV container within main container */
background-color: black;
background-position: center center; /* center image within carousel */
background-repeat: no-repeat;
background-size: cover; /* CSS3 property to scale image within container? "cover" or "contain" */
color: black;
}

div.bgcarousel div.selectedslide{ /* CSS for currently selected slide */
}

div.bgcarousel div.slide div.desc{ /* DIV that contains the textual description inside .slide */
position: absolute;
color: white;
text-align: left;
left: 20px;
top: 20px;
width:310px;
background-color:rgba(0, 0, 0, 0.5);
margin-left:40px;
padding: 10px;
/*font: 16px 'IM Fell DW Pica', "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
/*text-shadow: 0 -1px 1px #8a8a8a; */ /* CSS3 text shadow */ 
z-index:5;
}

div.bgcarousel div.selectedslide div.desc{ /* CSS for currently selected slide's desc div */
}

div.bgcarousel div.slide div.desc h2{
font-size:20pt;
color: #FFFFFF;
margin:0;
}

div.bgcarousel div.slide div.desc a{
color:#FFFFFF;
text-decoration:none;
}

div.bgcarousel div.slide div.desc a:hover{
color:#708090;
text-decoration:none;
}

.bk-root .bk-bs-btn-success{ 
opacity: 1.0;
width: 0px;
color: #FFFFFF !important; 
border: none !important;
background: none!important;
}

.bk-root .bk-bs-btn-success:active {
opacity: .5 !important;
background: red !important;  
}

.bk-root .bk-bs-btn-success:focus {
opacity: .2;
background: #000000 !important;  
}

.bk-root .bk-bs-btn-success:hover {
opacity: .2;
background: #000000 !important;  
}


.bk-root .bk-data-table {
font-size:16px !important;
}
