.bk-root .bk-1a1334{
background: #1a1334 !important;
border: #1a1334 !important; }

.bk-root .bk-03c383{
background: #03c383 !important;
border: #03c383 !important; }

.bk-root .bk-fbbf45{
background: #fbbf45 !important;
border: #fbbf45 !important; }

.bk-root .bk-ed0345{
background: #ed0345 !important;
border: #ed0345 !important; }

.bk-root .bk-26294a{
background: #26294a !important;
border: #26294a !important; }

.bk-root .bk-aad962{
background: #aad962 !important;
border: #aad962 !important; }

.bk-root .bk-01545a{
background: #01545a !important;
border: #01545a !important; }

.bk-root .bk-ef6a32{
background: #ef6a32 !important;
border: #ef6a32 !important; }

.bk-root .bk-017351{
background: #017351 !important;
border: #017351 !important; }

.bk-root .bk-a12a5e{
background: #a12a5e !important;
border: #a12a5e !important; }

.bk-root .bk-710162{
background: #710162 !important;
border: #710162 !important; }

.bk-root .bk-110141{
background: #110141 !important;
border: #110141 !important; }

.bk-root .bk-grey{
background: grey !important;
border: grey !important; }